.App {
  text-align: center;
}

main {
  height: 100vh;
  background-color: #212121;
}

.custom-img {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
  border-radius: 5px;
}

.custom-slider .slick-slide {
  display: flex; /* Necessario per allineare i contenuti */
  justify-content: center;
  align-items: center;
  height: 350px; /* Altezza uniforme */
}

.custom-card {
  width: 90%; /* Adatta alla larghezza dello slider */
  height: 100%; /* Riempie l'altezza del contenitore */
}
